{% extends 'base.html' %}

{% block content %}
<div class="container">
    <header class="row">
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_Statistic_chart_re_w0pk.png" alt="Hero Header" class="header-image">
        </div>

        <div class="col-12 col-md-6" id="header-text">
            <h2>Find your new Car Today!</h2>
            <div>
                <h5>Explore our collection of limited and timeless vehicles.</h5>
                <button class="btn btn-primary">View our Docs</button>
                <button class="btn btn-primary">Join our Slack</button>
            </div>
            <p>Statistics show we have the highest in consumer satisfaction when it comes to our service and vehicles. Check out our inventory to see the latest available, or contact us to speak with a specialist and get started!</p>
        </div>
    </header>
    <!-- End of header Section -->

    <!-- Start of Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Our Catalog</h2>
            <p>Obtained from the most exclusive partners</p>
        </div>
    </section>
    <!-- End of Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_People_re_8spw.png" alt="staff-image" id="staff-image">
            <h4>Dedicated Staff</h4>
            <p>Speak to our team of specialists</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_electric_car_b7hl.png" alt="cars-image" id="cars-image">
            <h4>View Cars</h4>
            <p>Our selection ranges from Classic to Modern</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_by_my_car_ttge.png" alt="APR Image" id="apr-image">
            <h4>Check APR Quotes</h4>
            <p>Seamless response on what you can expect</p>
        </div>
    </section>
    <!-- End of Collection Features -->

    <!-- Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_Positive_attitude_re_wu7d.png" alt="Positive Image" id="Positive-image">
        </div>

        <div class="col-12 col-md-6">
            <h4>Talk with like minded hobbiest who know their stuff</h4>
            <p>Visit our socials blog to see what other people are saying about our business.
            </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join our Slack</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->

    <!-- Start of Footer -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/clipart648053.png" alt="Cars Logo" id="footer-logo">
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Our Dealership?</p>
                <p>Contact</p>
                <p>Share Us</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Our Dealership?</p>
                <p>Contact</p>
                <p>Share Us</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Our Dealership?</p>
                <p>Contact</p>
                <p>Share Us</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>
</div>
{% endblock content %}